@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,800;0,900;1,500;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&display=swap');

:root {

  --brandColor: #B4002F;
  --backgroundColor:#f1e3e3;
}

.ant-input-affix-wrapper {

    border:none !important;
    box-shadow: 1px 1px 2px 1px #80808026 !important;
    padding: 6px 11px !important;
    border-radius: 0.3rem !important;
}

  
::-webkit-scrollbar {
    width: 6px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(255, 228, 239, 0.301); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
  
  
  .ant-table table {
  
    border-spacing: 0 0.5rem !important;
  }
  
  .ant-table-tbody > tr {
  
  border-radius: 0.3rem !important;
  
  }
  .ant-table-tbody > tr > td {
  
    padding: 0.2rem 1rem !important;
    border-bottom: 0px solid #e9b2b9 !important;
    background-color: rgba(143, 104, 112, 0.116) !important;
  }
  
  .ant-table-thead > tr > th {
    color: rgb(255 229 229 / 85%) !important;
    background: var(--brandColor) !important;
    padding: 0.2rem 0!important;
    border-bottom: 0px solid #f6d1d1!important;
  
    border-spacing: 0 !important;
  }
  
  .ant-table-thead > tr  {
  
    /* box-shadow: 0 1px 2px 1px rgb(172, 172, 172); */
    transform: translateY(-5px);
    
  }
  
  
  .ant-layout.ant-layout-has-sider > .ant-layout {
    overflow-y: auto !important;
    height: 100vh!important;
  }
  
  
  .ant-table-thead > tr > th {
  
    color: rgba(255, 255, 255, 0.828) !important;
    font-size: 1rem!important;
    text-transform: capitalize!important;
    padding: 0.3rem 0.9rem !important;
    border-bottom: 0px solid #f0f0f0!important;
  }


  .ant-space-align-center {
  
    transform: translateY(6px) !important;
}

.ant-pagination-item-active a {
  background-color: var(--brandColor);
  color: white;
}

.ant-pagination-item-active a {
  background-color: var(--brandColor) !important;
  color: white !important;
  /* box-shadow: 1px 1px 1px 1px grey; */
}

.ant-pagination-disabled .ant-pagination-item-link {

  border-color: white !important;
}

textarea.ant-input {

    box-shadow: 1px 1px 3px 0px #c5bdbd;
  border: 1px solid #ffffff;
  border-radius: 5px;
}
.ant-input-group.ant-input-group-compact .ant-input {
  box-shadow: 1px 1px 3px 0px #c5bdbd;
  border: 1px solid #ffffff;
  border-radius: 5px;
}

.ant-input {

    box-shadow: 1px 1px 3px 0px #c5bdbd;
  border: 1px solid #ffffff !important;
  border-radius: 5px;
}

.ant-input:hover{

    border: 1px solid var(--brandColor) !important;

}
.ant-table-filter-trigger{

    color: #ffffff!important;

}
.ant-table-filter-trigger:hover{

  color: var(--brandColor)!important;


}
.ant-table-filter-trigger.active {
  color: #ffffff!important;
}

.ant-input:focus{

  border: 1px solid var(--brandColor) !important;

}

.ant-select-single .ant-select-selector {

     box-shadow: 1px 1px 3px 0px #c5bdbd;
  border: 1px solid #ffffff  !important;
  border-radius: 5px;
}

.ant-input-group-addon {

  box-shadow: 1px 1px 3px 0px #c5bdbd !important;
  border: 0px solid #ffffff  !important;
  border-radius: 5px;

}


.ant-select-selection-item, .ant-select-arrow{

  color:var(--brandColor) !important;
}

.ant-table-column-sorters{

  padding: 5px !important;

}

.ant-table-column-sorter-up.active, .ant-table-column-sorter-down.active {
  color: #f6fffc !important;
}

.ant-table-tbody  .ant-checkbox-inner::after {

  top: 30% !important;
  left: 12% !important;

}

.ant-table-tbody .ant-checkbox-inner {

  overflow: hidden !important;
}

.ant-input-number {

  
  box-shadow: 1px 1px 3px 0px #c5bdbd !important;
  border: none  !important;
  border-radius: 5px;


}